#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 1500px;
    gap: 10px;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
}

#gallery img {

    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.img-container {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 2px;
    overflow: hidden;
    transition: transform 0.1s ease;
}

.img-container:hover img {
    filter: blur(8px);
}

.img-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.05s ease 0.05s;
    /* Delays showing the text until after the blur */
}

.img-container:hover .img-description {
    opacity: 1;
    /* Makes text visible after blur */
}